h1{
    text-align: center;
    color: rgba(255, 20, 145, 0.007);
    font-size: xx-large;
}


p{
text-align: center;

}
li{
    text-align: center;
}

body{
text-align: center;

}
